@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c3cc5a;
  --secondary: #303030;
  --bg: #222222;
}

body {
  background-color: var(--secondary);
  overflow-x: hidden;
}
